<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de capybaras</h1>
    <h2>Para ingresar al sitio, introduce tus datos de acceso:</h2>
    <form action="/users/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <label for="username">Nombre de usuario: </label>
        <input type="text" id="username" name="username" placeholder="Pedro">
        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
    <br><br>
<%- include('includes/foot.ejs') %>


<!-- Preguntar el como esta, como se siente
     Ayudar a compañeros 
    Emiliano Montufar, ayudar a los menos experimetnados en 
    algo nuevo 
    Ser empatico, y ayudar a los demas si tu sabes 
    Servicio Social, con comunidades actividades-->